/* services section */

.services {
    background-color: #121212;
    padding-bottom: 150px;
}

.services-title {
    padding-top: 151px;
    margin-bottom: 30px;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 25px;
}

.services-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 106px;
}

.services-content>li {
    position: relative;
    width: calc(50% - 5px);
}

.services-content>li>img {
    width: 100%;
    height: 389px;
}

.services-img-label,
.services-img-label-design,
.services-img-label-watch,
.services-img-label-equipment {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #AD1818;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    border-radius: 5px;
    top: 30px;
    left: 30px;
}

.services-img-label,
.services-img-label-design {
    width: 163px;
    height: 40px;
}

.services-img-label-watch {
    width: 193px;
    height: 40px;
}

.services-img-label-equipment {
    width: 211px;
    height: 40px;
}

.services-design,
.services-solution {
    margin-bottom: 80px;
}

.services-text-solution {
    height: 41px;
    width: 344px;
}

.services-text-solution,
.services-text-design {
    margin-top: 25px;
}

.services-text-watch,
.services-text-equipment {
    margin-top: 17px;
}

.services-text-solution,
.services-text-design,
.services-text-watch,
.services-text-equipment {
    color: #fff;
    font-size: 30px;
    line-height: 41px;
    padding-left: 3px;
}

.services-big-btn {
    display: flex;
    justify-content: center;
}

.services-btn {
    font-family: 'Manrope', sans-serif;
    width: 1150px;
    height: 153px;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.5px;
    color: #fff;
    cursor: pointer;
    background-color: #AD1818;
    border: none;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.services-btn:hover {
    background-color: #fff;
    color: #AD1818;
}

.services-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.services-popup-open {
    opacity: 1;
    visibility: visible;
}

.services-popup-content {
    position: relative;
    width: 777px;
    max-height: 100%;
    padding: 40px;
    overflow-y: auto;
    background-color: #fff;
}

.services-popup-title {
    padding-top: 94px;
    font-size: 45px;
    line-height: 62px;
    text-align: center;
}

.services-popup-text {
    padding-top: 4px;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 60px;
}

.services-popup-input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 80px;
}

.services-popup-input {
    box-sizing: border-box;
    font-size: 25px;
    line-height: 34px;
    border: none;
    border-bottom: solid 1px rgba(0, 0, 0, 0.5);
}

.services-popup-input:focus {
    outline: none;
}

.services-popup-input::placeholder {
    opacity: 0.5;
}

.services-popup-inner-btn-wrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 86px;
}

.services-popup-inner-btn {
    width: 100%;
    height: 67px;
    gap: 20px;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    line-height: 28px;
    color: #fff;
    background-color: #AD1818;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.services-popup-inner-btn:hover {
    background-color: #fff;
    color: #AD1818;
    
}

.services-popup-close-btn {
    position: absolute;
    right: 42px;
    top: 44px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-image: url(..//files/cancel-btn.png);
}

.services-popup-close-btn:hover {
    opacity: 0.5;
}

.services-body-fixed {
    overflow: hidden;
}

@media (max-width: 1199px) {
    .services-content {
        margin-bottom: 80px;
    }

    .services-title {
        margin-left: 4px;
    }

    .services-content>li>img {
        height: 315px;
        object-fit: cover;
    }

    .services-img-label,
    .services-img-label-design,
    .services-img-label-watch,
    .services-img-label-equipment {
        line-height: 27px;
        top: 32px;
        left: 32px;
    }

    .services-text-solution {
        height: 41px;
        width: 100%;
    }

    .services-text-solution,
    .services-text-design,
    .services-text-watch,
    .services-text-equipment {
        font-size: 25px;
        line-height: 34px;
        margin-top: 15px;
    }

    .services-btn {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .services-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 0px;
    }

    .services-content>li {
        width: 100%;
        margin-bottom: 60px;
    }


    .services-title {
        font-size: 14px;
        line-height: 19px;
        margin-left: 4px;
        margin-bottom: 20px;
    }

    .services-content>li>img {
        height: 240px;
    }

    .services-img-label,
    .services-img-label-design,
    .services-img-label-watch,
    .services-img-label-equipment {
        font-size: 14px;
        line-height: 19px;
        top: 23px;
        left: 24px;
    }

    .services-img-label,
    .services-img-label-design {
        width: 124px;
        height: 30px;
    }

    .services-img-label-watch {
        width: 148px;
        height: 30px;
    }

    .services-img-label-equipment {
        width: 160px;
        height: 30px;
    }

    .services-text-solution,
    .services-text-design,
    .services-text-watch,
    .services-text-equipment {
        font-size: 18px;
        line-height: 25px;
        margin-top: 10px;
    }

    .services-btn {
        height: 100px;
        font-size: 22px;
        line-height: 30px;
    }

    .services-popup-content {
        width: 100%;
        padding: 20px;
    }

    .services-popup-title {
        padding-top: 80px;
        font-size: 25px;
        line-height: 34px;
    }

    .services-popup-text {
        padding-top: 11px;
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 70px;
    }

    .services-popup-input-wrapper {
        gap: 40px;
        width: 100%;
        margin-bottom: 60px;
    }

    .services-popup-input {
        font-size: 18px;
        line-height: 25px;
    }

    .services-popup-inner-btn-wrapper {
        padding-bottom: 80px;
        width: 100%;
    }

    .services-popup-inner-btn {
        width: 100%;
    }

    .services-popup-close-btn {
        width: 18px;
        height: 18px;
        top: 46px;
        right: 35px;
        background-image: url(..//files/cancel-btn-mini.png);
    }
}