html {
  scroll-behavior: smooth;
  color: #121212;
}

body {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  letter-spacing: -0.03em;
}

.container {
  width: 1150px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .container {
    width: 100%;
    padding-right: 17px;
    padding-left: 17px;
  }
}
