html {
    scroll-behavior: smooth;
    color: #121212;
}

body {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    letter-spacing: -0.03em;
}

.container {
    width: 1150px;
    margin: 0 auto;
}

/* Header */

.nav-metrik {
    display: flex;
    justify-content: space-between;
}

.metrik-logo {
    width: 127px;
    margin: 32px 0px 70px 0px;
}

.metrik-nav-link {
    display: flex;
    margin: 33px 1px 70px 0px;
    box-sizing: border-box;
    text-align: right;
}


.nav-text-us,
.nav-text-project,
.nav-text-services {
    margin-right: 60px;
    text-decoration: none;
    color: #121212;
    font-size: 18px;
    line-height: 24.59px;
    letter-spacing: -0.4px;
}

.nav-text-contact {
    text-decoration: none;
    color: #121212;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.59px;
    letter-spacing: -0.6px;
}

.nav-text-us:hover,
.nav-text-project:hover,
.nav-text-services:hover,
.nav-text-contact:hover {
    color: #121212;
    text-decoration: underline solid 1px;
    text-underline-offset: 8px;
    opacity: 0.5;
}

/* main */

/* top-info*/

.top-info-title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 30px;
    letter-spacing: -0.03em;
}

.top-info-img {
    display: block;
    position: relative;
    background-image: url('../images/top-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    margin-bottom: 150px;
}

.top-info-img-text {
    position: absolute;
    max-width: 430px;
    height: 81px;
    left: 40px;
    bottom: 40px;
    font-size: 20px;
    line-height: 27.32px;
    letter-spacing: -0.03em;
    color: #fff;
}

/* about-us section */

.about-us {
    margin-bottom: 168px;
}

.about-us-title {
    text-transform: uppercase;
    letter-spacing: -0.03em;
    font-size: 18px;
    line-height: 24.59px;
    margin-bottom: 32px;
}

.about-us-text {
    width: 1048px;
    font-size: 45px;
    line-height: 61px;
    letter-spacing: -0.03em;
    margin-bottom: 50px;
}

.about-us-btn {
    display: block;
    width: 255px;
    height: 67px;
    text-align: center;
    padding-top: 20px;
    background-color: #AD1818;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.5px;
}

.about-us-btn:hover {
    color: #AD1818;
    background-color: #fff;
    transition: 0.3s;
}

/* project section */

.project-content {
    margin-bottom: 89px;
}

.project-title {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 24.59px;
    letter-spacing: -0.03em;
}

.project-img {
    display: block;
    width: 100%;
    height: 450px;
    margin-bottom: 13px;
}

.project-text {
    font-size: 30px;
    line-height: 41px;
    margin-bottom: 16px;
    letter-spacing: -0.03em;
}

.project-big-btn {
    margin-bottom: 150px;
}

.project-btn {
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.03em;
    color: #AD1818;
}

.project-btn:hover {
    text-decoration: none;
}

.big-btn {
    font-family: 'Manrope', sans-serif;
    max-width: 1150px;
    width: 100%;
    height: 153px;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.5px;
    color: #AD1818;
    cursor: pointer;
    background-color: #fff;
    border-color: #AD1818;
    border-radius: 5px;
    border: 1px solid;
}

.big-btn:hover {
    color: #fff;
    background-color: #AD1818;
    transition: 0.5s;
}

/* services section */

.services {
    background-color: #121212;
}

.services-title {
    padding-top: 151px;
    margin-bottom: 30px;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.03em;
}

.services-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 106px;
}

.services-content>li {
    position: relative;
    width: calc(50% - 5px);
}

.services-content>li>img {
    width: 100%;
    height: 389px;
}

.services-img-label,
.services-img-label-design,
.services-img-label-watch,
.services-img-label-equipment {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #AD1818;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    border-radius: 5px;
    top: 30px;
    left: 30px;
}

.services-img-label,
.services-img-label-design {
    width: 163px;
    height: 40px;
}

.services-img-label-watch {
    width: 193px;
    height: 40px;
}

.services-img-label-equipment {
    width: 211px;
    height: 40px;
}

.serivces-design,
.serivces-solution {
    margin-bottom: 85px;
}

.services-text-solution {
    height: 41px;
    width: 344px;
}

.services-text-solution,
.services-text-design {
    margin-top: 25px;
}

.services-text-watch,
.services-text-equipment {
    margin-top: 17px;
}

.services-text-solution,
.services-text-design,
.services-text-watch,
.services-text-equipment {
    color: #fff;
    font-size: 30px;
    line-height: 41px;
    padding-left: 5px;
    letter-spacing: -0.03em;
}

.services-big-btn {
    display: flex;
    justify-content: center;
    padding-bottom: 150px;
}

.services-btn {
    font-family: 'Manrope', sans-serif;
    width: 1150px;
    height: 153px;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.5px;
    color: #fff;
    cursor: pointer;
    background-color: #AD1818;
    border: none;
    border-radius: 5px;
}

.services-btn:hover {
    background-color: #fff;
    color: #AD1818;
    transition: 0.5s;
}

/* reviews section */

.reviews {
    margin-bottom: 137px;
}

.reviews-title {
    margin-top: 150px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.03em;
}

.reviews-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.reviews-list>li:nth-child(1),
.reviews-list>li:nth-child(2) {
    width: calc(50% - 25px);
    margin-bottom: 30px;
}

.reviews-list>li:nth-child(3) {
    width: 75%;
}

.reviews-list-title {
    font-size: 45px;
    line-height: 61.47px;
    margin: 0 0 14px 0;
}

.reviews-list-text {
    font-size: 22px;
    line-height: 30.05px;
    margin-bottom: 20px;
}

/* gallery section */

.gallery-section {
    margin-bottom: 150px;
}

.gallery {
    position: relative;
    width: 100%;
    height: 717px;
}

.gallery-title-wrapper {
    position: absolute;
    width: 100%;
    top: 60px;
    z-index: 100;
}

.gallery-title {
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
    color: white;
}

.gallery-slides {
    position: relative;
}

.gallery-slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 717px;
    opacity: 0;
}

.gallery-slide-active {
    opacity: 1;
}

.gallery-img {
    width: 100%;
    height: 717px;
    object-fit: cover;
}

.gallery-slide-text-wrapper {
    position: absolute;
    width: 100%;
    top: 575px;
}

.gallery-slide-text {
    width: 443px;
    font-size: 30px;
    line-height: 41px;
    color: #fff;
}

.gallery-controls-wrapper {
    position: absolute;
    width: 100%;
    bottom: 200px;
}

.gallery-controls {
    display: flex;
    gap: 35px;
}

.gallery-controls-prev,
.gallery-controls-next {
    border: none;
    background: none;
    width: 20px;
    height: 34px;
    cursor: pointer;
}

.gallery-controls-prev:hover,
.gallery-controls-next:hover {
    opacity: 0.5;
}

.gallery-controls-prev {
    background-image: url(../files/Vector-prev.png);
}

.gallery-controls-next {
    background-image: url(../files/Vector-next.png);
    transform: rotate(180deg);
    left: 216px;
}

/* contact section */

.contact-title {
    position: relative;
    display: block;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    margin-bottom: 74px;
}

.contact-info-wrapper {
    display: flex;
    gap: 104px;
    margin-bottom: 150px;
}

.contact-number-wrapper,
.contact-mail-wrapper {
    position: relative;
}

.contact-number {
    display: block;
    text-decoration: none;
    color: #121212;
    font-size: 60px;
    line-height: 60px;
}

.contact-number-wrapper::before {
    background-image: url('../files/contact-img.png');
}

.contact-mail {
    font-size: 60px;
    line-height: 60px;
    color: #121212;
    text-decoration: none;
}

.contact-mail-wrapper::before {
    background-image: url('../files/mail-img.png');
}

.contact-number-wrapper::before,
.contact-mail-wrapper::before {
    content: '';
    position: absolute;
    bottom: 85px;
    display: block;
    width: 20px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: 50%;
}

.contact-number:hover,
.contact-mail:hover {
    color: #121212;
    text-decoration: underline solid 2px;
    text-underline-offset: 10px;
    opacity: 0.5;
}

/* Footer */

.footer {
    background-color: #121212;
}

.container-footer {
    width: 100%;
}

.footer-info {
    display: flex;
    justify-content: center;
    gap: 53px;
    padding-top: 60px;
    padding-bottom: 88px;
}

.footer-us,
.footer-project,
.footer-services,
.footer-contact {
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    color: #fff;
}

.footer-us:hover,
.footer-project:hover,
.footer-services:hover,
.footer-contact:hover {
    text-decoration: underline solid 1px;
    text-underline-offset: 8px;
    opacity: 0.5;
}

.footer-copyright {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.footer-copyright-text {
    color: #fff;
    opacity: 0.5;
    font-size: 20px;
    line-height: 27px;
}
